html
    head
        script(src="/js/jquery.js")
        //script(src="/js/index.js")
    body
        div(style="width:500px; text-align:right;")
            a(href="/logout") Logout
        div#msgs(style="height:400px; width:400px; overflow: scroll; float:left; display:inline;")
        div#game(style="height:400px; width:400px; overflow: scroll; float:right; display:inline;")
            button#startGame Start Game
            button#printBtn Print
            script.
                let count = 0;
            
                function printBoard(msg) {

                    var row = $('<div></div>');
                        $('#game').append(row);
                        
                    for (let i=1; i<48; i++) {

                    if(count == 7){
                        var row = $('<div></div>');
                        $('#game').append(row);
                        count = 0; 
                        i++;
                    }

                    var tile = $('<span>' + msg[i*2] + ' </span>');
                    $('#game').append(tile);

                    count++;
                    }

                    var row = $('<div>--------------</div>');
                    $('#game').append(row);

                    for (let i=1; i<8; i++) {
                        var column = $('<span>' + i + ' </span>');
                        $('#game').append(column);
                    }
                }

                function printMessage(msg){
                    
                    var msg = $('<div> Gamemaster: ' + msg +
                                    '</div>');
                            $('#msgs').append(msg);
                }
            button#column1 1
            button#column2 2
            button#column3 3
            button#column4 4
            button#column5 5
            button#column6 6
            button#column7 7

        div#users(style="height:400px; width:100px; overflow: scroll; float;")
        form#chatForm
            label(for="msg") #{user}:&nbsp;
            input#msg(type="text")
            button#sendBtn Send
            script.
                var socket = new WebSocket('ws://localhost:8181/', 'chat');
                socket.onopen = function () {
                    socket.send('{"type": "join", "name":"#{user}"}');
                }
                $('#sendBtn').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = $('#msg').val();
                    socket.send('{"type": "msg", "msg": "' + msg + '"}');
                    $('#msg').val('');
                });
                $('#startGame').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = 'Start new Game';
                    socket.send('{"type": "start", "msg": "' + msg + '"}');
                });
                $('#printBtn').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = 1;
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });
                $('#column1').on('click', function (e) {
                    e.preventDefault();
                    setTile(1, '#{user}');
                    var name = '#{user}',
                    msg = getGrid();
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                    //$('#msg').val('');
                });
                socket.onmessage = function (msg) {
                    var data = JSON.parse(msg.data);
                    switch (data.type) {
                        case 'msg':
                            var msg = $('<div>' + data.name + ': ' + data.msg +
                                    '</div>');
                            $('#msgs').append(msg);
                            break;
                        case 'join':
                            $('#users').empty();
                            for (var i = 0; i < data.names.length; i++) {
                                var user = $('<div>' + data.names[i] + '</div>');
                                $('#users').append(user);
                            }
                            break;
                        case 'board':
                            printBoard(data.msg);
                            break;
                         case 'start':
                            printMessage(data.msg);
                            break;

                    }
                };
        
    
