html
    head
        script(src="/js/jquery.js")
        //script(src="/js/index.js")
    body
        div(style="width:500px; text-align:right;")
            a(href="/logout") Logout
        div#msgs(style="height:400px; width:400px; overflow: scroll; float:left; display:inline;")
        div#menu(style="height:10px; width:400px; float:right; display:inline;")
            button#startGame Start Game
            //button#printBtn Print
            button#column1 1 
            button#column2 2
            button#column3 3
            button#column4 4
            button#column5 5
            button#column6 6
            button#column7 7
            div#game(style="height:300px; width:400px; overflow: scroll; float:right; display:inline;")
                
                script.

                    $("#column1").attr("disabled", true);
                    $("#column2").attr("disabled", true);
                    $("#column3").attr("disabled", true);
                    $("#column4").attr("disabled", true);
                    $("#column5").attr("disabled", true);
                    $("#column6").attr("disabled", true);
                    $("#column7").attr("disabled", true);

                    function printBoard(msg) {

                        $('#game').empty();

                        let count = 0;

                        var row = $('<div></div>');
                            $('#game').append(row);
                            
                        for (let i=1; i<48; i++) {

                        if(count == 7){
                            var row = $('<div></div>');
                            $('#game').append(row);
                            count = 0; 
                            i++;
                        }
                        
                        if(msg[i*2]==1){
                            var tile = $('<span style="color:red">' + msg[i*2] + ' </span>');
                        }else if(msg[i*2]==2){
                            var tile = $('<span style="color:#00FF00">' + msg[i*2] + ' </span>');
                        }else{
                            var tile = $('<span>' + msg[i*2] + ' </span>');
                        }
                        $('#game').append(tile);

                        count++;
                        }

                        var row = $('<div>--------------</div>');
                        $('#game').append(row);

                        for (let i=1; i<8; i++) {
                            var column = $('<span>' + i + ' </span>');
                            $('#game').append(column);
                        }
                    }

                    /*function printMessage(msg){
                        
                        var msg = $('<div> Gamemaster: ' + msg +
                                        '</div>');
                                $('#msgs').append(msg);
                    }*/

            div#gameMsg(style="height:100px; width:400px; float:right; display:inline;")
                    script.

                     function printMessage(msg){
                        $('#gameMsg').empty();
                        var msg = $('<div> Gamemaster: ' + msg +
                                        '</div>');
                                $('#gameMsg').append(msg);
                     }

        div#users(style="height:400px; width:100px; overflow: scroll; float;")
        form#chatForm
            label(for="msg") #{user}:&nbsp;
            input#msg(type="text")
            button#sendBtn Send
            script.
                var socket = new WebSocket('ws://192.168.99.100:8181/', 'chat');
                socket.onopen = function () {
                    socket.send('{"type": "join", "name":"#{user}"}');
                }
                $('#sendBtn').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = $('#msg').val();
                    socket.send('{"type": "msg", "msg": "' + msg + '"}');
                    $('#msg').val('');
                });
                $('#startGame').on('click', function (e) {
                    e.preventDefault();
                    $("#column1").attr("disabled", false);
                    $("#column2").attr("disabled", false);
                    $("#column3").attr("disabled", false);
                    $("#column4").attr("disabled", false);
                    $("#column5").attr("disabled", false);
                    $("#column6").attr("disabled", false);
                    $("#column7").attr("disabled", false);
                    $("#startGame").attr("disabled", true);
                    var name = '#{user}',
                    msg = 'Start new Game';
                    socket.send('{"type": "start", "msg": "' + msg + '"}');
                });
                /*$('#printBtn').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = 0;
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });*/
                $('#column1').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = '1';
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });
                $('#column2').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = '2';
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });
                $('#column3').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = '3';
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });
                $('#column4').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = '4';
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });
                $('#column5').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = '5';
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });
                $('#column6').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = '6';
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });
                $('#column7').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = '7';
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                });
                socket.onmessage = function (msg) {
                    console.log(msg.data);
                    var data = JSON.parse(msg.data);
                    switch (data.type) {
                        case 'msg':
                            var msg = $('<div>' + data.name + ': ' + data.msg +
                                    '</div>');
                            $('#msgs').append(msg);
                            break;
                        case 'join':
                            $('#users').empty();
                            for (var i = 0; i < data.names.length; i++) {
                                var user = $('<div>' + data.names[i] + '</div>');
                                $('#users').append(user);
                            }
                            break;
                        case 'board':
                            if(data.name1 == '#{user}' || data.name2 == '#{user}'){
                                printMessage(data.msg2);
                                printBoard(data.msg);
                                if(data.msg2.includes("gewonnen")){
                                    $("#column1").attr("disabled", true);
                                    $("#column2").attr("disabled", true);
                                    $("#column3").attr("disabled", true);
                                    $("#column4").attr("disabled", true);
                                    $("#column5").attr("disabled", true);
                                    $("#column6").attr("disabled", true);
                                    $("#column7").attr("disabled", true);
                                    $("#startGame").attr("disabled", false);
                                }
                            }
                            break;
                         case 'start':
                            if(data.name1 == '#{user}' || data.name2 == '#{user}'){
                                printMessage(data.msg);
                                printBoard(data.msg2);
                                printMessage(data.msg3);
                            }
                            break;
                        case 'error':
                            if(data.name == '#{user}'){
                                printMessage(data.msg);
                            }

                    }
                };
        
    
